<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <form action="/hotels" method="get">
    <button type="submit" formmethod="get">Отели</button>
  </form >
  <form action="/rooms" method="get">
    <button type="submit" formmethod="get">Комнаты</button>
  </form>
  <form action="/Exit" method="get">
    <button type="submit" formmethod="get">Выйти</button>
</form>
</body>
</html>