<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2> Отзывы комнаты </h2> <br>
<th:block th:each=" reviewsRoom : ${reviewsRoomList}">
  <form action="/reviewsRoom/update" method="post" style="display:inline;">
    <input type="hidden" name="idReviewsRoom" th:value="${reviewsRoom.idReviewsRoom}">
    <input type="text" name="review" th:value="${reviewsRoom.review}">
    <button type="submit" formmethod="post">Обновить</button>
  </form>
  <form action="/reviewsRoom/delete" method="post" style="display:inline;">
    <input type="hidden" name="id" th:value="${reviewsRoom.idReviewsRoom}">
    <button type="submit" formmethod="post">Удалить</button>
  </form><br>
</th:block>
<h2>Добавить</h2> <br>
<form action="/reviewsRoom/add" method="post" style="display:inline;">
  <input type="text" name="review" placeholder="Отзыв отеля" >
  <button type="submit" formmethod="post">Добавить</button>
</form>
<form action="/AdminPanel" method="get">
  <button type="submit" formmethod="get">Назад</button>
</form>
</body>
</html>